@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('fonts/proximanova-extrabold-webfont.eot');
    src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-extrabold-webfont.woff') format('woff'),
         url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LyonTextBlackItalic';
    src: url('fonts/LyonTextBlackItalic.eot');
    src: url('fonts/LyonTextBlackItalic.eot') format('embedded-opentype'),
         url('fonts/LyonTextBlackItalic.woff2') format('woff2'),
         url('fonts/LyonTextBlackItalic.woff') format('woff'),
         url('fonts/LyonTextBlackItalic.ttf') format('truetype'),
         url('fonts/LyonTextBlackItalic.svg#LyonTextBlackItalic') format('svg');
}

@font-face {
    font-family: 'LyonTextRegular';
    src: url('fonts/LyonTextRegular.eot');
    src: url('fonts/LyonTextRegular.eot') format('embedded-opentype'),
         url('fonts/LyonTextRegular.woff2') format('woff2'),
         url('fonts/LyonTextRegular.woff') format('woff'),
         url('fonts/LyonTextRegular.ttf') format('truetype'),
         url('fonts/LyonTextRegular.svg#LyonTextRegular') format('svg');
}

@font-face {
    font-family: 'LyonTextRegularItalic';
    src: url('fonts/LyonTextRegularItalic.eot');
    src: url('fonts/LyonTextRegularItalic.eot') format('embedded-opentype'),
         url('fonts/LyonTextRegularItalic.woff2') format('woff2'),
         url('fonts/LyonTextRegularItalic.woff') format('woff'),
         url('fonts/LyonTextRegularItalic.ttf') format('truetype'),
         url('fonts/LyonTextRegularItalic.svg#LyonTextRegularItalic') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/ProximaNovaRegular.eot');
    src: url('fonts/ProximaNovaRegular.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaRegular.woff2') format('woff2'),
         url('fonts/ProximaNovaRegular.woff') format('woff'),
         url('fonts/ProximaNovaRegular.ttf') format('truetype'),
         url('fonts/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}


