$font: "ff-tisa-sans-web-pro",sans-serif;
$font_r: "ff-tisa-sans-web-pro",sans-serif;
$font_ex: "ff-tisa-sans-web-pro",sans-serif;
$font_ly: "ff-tisa-sans-web-pro",sans-serif;
$font_lyb: "ff-tisa-sans-web-pro",sans-serif;
$font_lyi: "ff-tisa-sans-web-pro",sans-serif;

$font_l: "ff-tisa-sans-web-pro",sans-serif;
$font_sb: "ff-tisa-sans-web-pro",sans-serif;

$donker: #3b3b3b;
$blue: #009ee0;
$red: #e2001a;
$green: #c8d200;

$dark_blue: #006ba9;

$light_grey: #b9b9b9;
$dark_green: #329559;
$light_green: #b1ddc0;

 

